<app-new-channel (saved)="onCreate($event)"></app-new-channel>

<section class="chat" *ngIf="chatIsReady$ | async; else unavailable">
    <stream-channel-list></stream-channel-list>
    <stream-channel>
        <stream-channel-header></stream-channel-header>
        <stream-message-list></stream-message-list>
        <stream-notification-list></stream-notification-list>
        <stream-message-input></stream-message-input>
    </stream-channel>
</section>

<ng-template #unavailable>
    <div class="chat-notification">Chat is not available...</div>
</ng-template>

<ng-template #channelPreview let-channel="channel">
    <section (click)="activateChannel(channel)">
        <h1>{{channel.data?.name}}</h1>
        <div>{{channel?.state?.messages.at(-1)?.text}}</div>
    </section>
</ng-template>

<ng-template #channelActionsTemplate let-channel="channel">
    <app-invite-button [channel]="channel"></app-invite-button>
</ng-template>
